.App {
  text-align: center;
}

header img {
  height: 12vh;
  padding-top: 0.6rem;
}

.date-con {
  width: 100%;
  background-color: white;
  margin-top: 2rem;
}

.date-con p {
  font-family: "Oswald";
  font-size: 1.8rem;
  font-weight: bold;
}
.fa-calendar-alt {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.6rem;
  font-size: 2rem;
}
.calendar {
  width: 15rem;
  text-align: center;
}
footer i {
  color: red;
  padding-left: 2rem;
  font-size: 3rem;
}

.footer-icons {
  width: 25%;
}

@media (max-width: 690px) {
  footer i {
    font-size: 3rem;
    padding-left: 1rem;
  }
}
@media (max-width: 600px) {
  footer i {
    font-size: 3rem;
    padding-left: 1rem;
  }
}
@media (max-width: 520px) {
  footer i {
    font-size: 2rem;
    padding-left: 1rem;
  }
}
